#app {
  width: 1280px;
  margin: 0 auto;
}

.header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 36px;
  color: #44456f;
  margin-top: 80px;
}

.items-grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  gap: 44px 35px;
}

.card {
  width: 397px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.card .image {
  background: linear-gradient(
    180deg,
    #b8b8b8 0%,
    rgba(255, 248, 248, 0) 51.56%,
    #bbbbbb 100%
  );
}

.card .content {
  padding: 24px;
  background-color: #ececec;
  display: grid;
  justify-content: right;
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #454775;
}

.quantity,
.price {
  margin-top: 16px;
}

.card .content .uni {
  font-family: "Roboto", sans-serif;
  font-size: 10px;

  color: rgba(69, 71, 117, 0.6);
  margin-top: 4px;
}

.container-list {
  margin-top: 40px;
  background-color: #ececec;
}
